.board
  = haml :board

:javascript
  $(function() {
    (function poll() {
      setTimeout(function() {
        $.ajax({
          url: "/game/#{@game.id}",
          success: function(data) {
            $('.board').html(data);
            poll();
          },
        });
      }, 2000);
    })();
  });